<div
  style="
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px;
    width: 95%;
  "
>
  <h2 style="margin-left: 10px">My OKRs</h2>
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile>
      <div class="okr">
        <div style="padding: 20px; display: flex; flex-direction: column">
          <div>
            <button
              mat-mini-fab
              color="primary"
              style="
                box-shadow: 0px 0px 0px;
                margin-right: 10px;
                height: 35px;
                width: 35px;
              "
            >
              <mat-icon style="font-size: 18px">navigation</mat-icon>
            </button>
            <h2 style="font-weight: 400; display: inline-block">
              Some Objective
            </h2>
          </div>
          <div
            style="
              display: flex;
              flex-direction: row;
              align-items: center;
              margin-top: 130px;
            "
          >
            <h4
              style="display: inline-block; font-weight: 500; margin-top: 10px"
            >
              48%
            </h4>
            <h4
              style="display: inline-block; margin-left: 5px; margin-top: 10px"
            >
              complete
            </h4>
            <button
              mat-button
              color="accent"
              style="display: inline-block; margin-left: auto"
            >
              ON TRACK
            </button>
          </div>
          <mat-progress-bar
            mode="determinate"
            color="accent"
            value="48"
          ></mat-progress-bar>
          <div style="display: flex; flex-direction: row; align-items: center">
            <h4
              style="display: inline-block; font-weight: 500; margin-top: 10px"
            >
              Individual
            </h4>
            <h4
              style="display: inline-block; margin-left: auto; margin-top: 10px"
            >
              Q1 2021
            </h4>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="okr add-okr">
        <button mat-mini-fab color="accent" style="margin-bottom: 20px">
          <mat-icon>add</mat-icon>
        </button>
        <h4>Create Objective</h4>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
