mat-grid-tile {
  background: transparent;
  width: 100px;
}

.okr {
  width: 95%;
  height: 95%;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 3px 8px #cccccc;
  border-radius: 15px;
}

.okr-content {
  padding: 22px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
}

.card-logo {
  box-shadow: 0px 0px 0px;
  margin-right: 10px;
  height: 35px;
  width: 35px;
}

.card-data {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-text {
  display: inline-block;
}

.add-okr {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 0px transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1050px;
  width: 95%;
}
