<div class="drawer-container">
  <div class="drawer-header">
    <img src="assets/fleo.png" width="50px" />
    <h1 class="mat-display-2 company">Fleo</h1>
  </div>

  <div style="margin-top: 100px; margin-bottom: auto">
    <button mat-button color="primary" class="link-button">
      <button mat-mini-fab color="primary" class="link-button-fab">
        <mat-icon style="font-size: 18px">home</mat-icon>
      </button>
      <h4 class=".mat-small link-button-text">Home</h4>
    </button>

    <button mat-button color="primary" class="link-button">
      <button mat-mini-fab disabled color="primary" class="link-button-fab">
        <mat-icon style="font-size: 19px">flag</mat-icon>
      </button>
      <h4 class=".mat-small link-button-text">Lens</h4>
    </button>
  </div>
  <button
    mat-button
    color="primary"
    class="link-button"
    style="margin-top: auto; margin-bottom: 50px"
  >
    <button mat-mini-fab disabled color="primary" class="link-button-fab">
      <mat-icon style="font-size: 18px">settings</mat-icon>
    </button>
    <h4 class=".mat-small link-button-text">Settings</h4>
  </button>
</div>
