<div fxLayout="column" class="container">
  <div fxLayout="row" fxLayoutAlign="center center" class="mt-30">
    <img src="assets/fleo.png" width="50px" />
    <h1 class="mat-display-2 company">Fleo</h1>
  </div>

  <div class="mt-100">
    <button mat-button fxLayout="row" color="primary" class="link-button">
      <button mat-mini-fab color="primary" class="link-button-fab">
        <mat-icon class="font-18">home</mat-icon>
      </button>
      <h4 class=".mat-small link-button-text">Home</h4>
    </button>

    <button mat-button fxLayout="row" color="primary" class="link-button">
      <button mat-mini-fab disabled color="primary" class="link-button-fab">
        <mat-icon class="font-18">flag</mat-icon>
      </button>
      <h4 class=".mat-small link-button-text">Lens</h4>
    </button>
  </div>
  <button
    mat-button
    color="primary"
    fxLayout="row"
    class="link-button mt-auto mb-50"
  >
    <button mat-mini-fab disabled color="primary" class="link-button-fab">
      <mat-icon class="font-18">settings</mat-icon>
    </button>
    <h4 class=".mat-small link-button-text">Settings</h4>
  </button>
</div>
