<div style="display: flex; flex-direction: column; height: 100%">
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
    "
  >
    <img src="assets/fleo.png" width="50px" />
    <h1
      class="mat-display-2"
      style="
        display: inline-block;
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
      "
    >
      Fleo
    </h1>
  </div>

  <div style="margin-top: 150px; margin-bottom: auto">
    <button mat-button color="primary" class="link-button">
      <button
        mat-mini-fab
        color="primary"
        style="
          box-shadow: 0px 0px 0px;
          margin-left: 20px;
          height: 35px;
          width: 35px;
        "
      >
        <mat-icon style="font-size: 18px">home</mat-icon>
      </button>
      <h4
        class=".mat-small"
        style="
          color: #000;
          display: inline-block;
          margin: 0;
          margin-left: 15px;
          margin-right: 10px;
        "
      >
        Home
      </h4>
    </button>

    <button mat-button color="primary" class="link-button">
      <button
        mat-mini-fab
        disabled
        color="primary"
        style="
          box-shadow: 0px 0px 0px;
          margin-left: 20px;
          height: 35px;
          width: 35px;
        "
      >
        <mat-icon style="font-size: 19px">flag</mat-icon>
      </button>
      <h4
        class=".mat-small"
        style="
          color: #000;
          display: inline-block;
          margin: 0;
          margin-left: 15px;
          margin-right: 10px;
        "
      >
        Lens
      </h4>
    </button>
  </div>
  <button
    mat-button
    color="primary"
    class="link-button"
    style="margin-top: auto; margin-bottom: 50px"
  >
    <button
      mat-mini-fab
      disabled
      color="primary"
      style="
        box-shadow: 0px 0px 0px;
        margin-left: 20px;
        height: 35px;
        width: 35px;
      "
    >
      <mat-icon style="font-size: 18px">settings</mat-icon>
    </button>
    <h4
      class=".mat-small"
      style="
        color: #000;
        display: inline-block;
        margin: 0;
        margin-left: 15px;
        margin-right: 10px;
      "
    >
      Settings
    </h4>
  </button>
</div>
