:host {
  display: block;
  height: 100%;
}

mat-drawer {
  width: 200px;
  box-shadow: 0px 3px 10px #cccccc;
}

mat-drawer-container {
  background-color: #edeff7;
  height: 100%;
}

mat-form-field {
  display: inline-block;
}

.top-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 30px;
}

.form1 {
  min-width: 150px;
  max-width: 550px;
  width: 100%;
  height: 55px;
  border-radius: 20px;
  padding: 0px 20px;
  padding-top: 6px;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 3px 10px #cccccc;
  display: inline-block;
}

.form2 {
  display: inline-block;
}

.form-field {
  width: 100%;
}

.mat-form-field-wrapper {
  padding-bottom: 0px;
}

.search-field {
  font-size: 17px;
  font-weight: 400;
}

.icon {
  font-size: 19px;
  margin-right: 5px;
}

.example-header-image {
  background-image: url("https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-4.png");
  background-size: cover;
}

.user-card {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 3px 10px #cccccc;
  border-radius: 20px;
  height: 34px;
  margin-top: -3px;
  margin-left: 25px;
}

.notif-container {
  margin-top: 10px;
}

.account-container {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}
